# AWS Configuration
AWS_REGION=us-east-1
AWS_ACCOUNT_ID=000000000000

# S3
MODEL_BUCKET=futbol-predictor-models
MODEL_KEY=models/model.pkl
META_KEY=models/metadata.json

# DynamoDB
DYNAMO_TABLE=futbol-predictions

# LocalStack (desarrollo local)
AWS_ENDPOINT_URL=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
